/* style.css */

#myNavbar {
    float: right;
}

ul li a {
    color: blue;
}

ul li a:hover {
    text-decoration: none;
    color: green;
}


/*contact form starts here */

.contactform {
    text-align: center;
    border: 2px solid silver;
    width: 30%;
    height: max-content;
    background-color: white;
    display: block;
    margin: 0px auto;
    border-radius: 20px;
}

#yts {
    width: 65%;
    height: 35px;
    border-radius: 10px;
    color: white;
    background-color: black;
}


/*contact form ends here */


/* footer css starts here */

.foot {
    margin-top: 20px;
    padding: 25px 0;
    background-color: #13161F;
}

.container {
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

.bottom {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: flex;
    align-items: center;
}

.text {
    text-align: center;
    color: #fff;
}

.text a:hover {
    text-decoration: none;
}


/* footer css ends here */